<nav id="navbar-site" class="nav nav-pills navbar-dark bg-dark navbar-expand-sm sticky-top mb-3 d-print-none">
  <div class="container">
    <div class="navbar-nav ml-sm-auto">
      <div class="nav-item  nav-link text-light">
        שלום {{currentTeacher.FirstName}} {{currentTeacher.User.UserType.Name}}
      </div>
      <a class="nav-item nav-link " id="navTeacherForm" href="/TeacherSchedule">מערכת אישית</a>
      <div class="dropdown">
        <a class="nav-item nav-link dropdown-toggle " data-toggle="dropdown" id="classManageDropDown"
          aria-haspopup="true" aria-expanded="false" href="#">ניהול כיתה</a>
        <div class="dropdown-menu dropdown-menu-right text-right"  aria-labelledby="classManageDropDown">
          <a class="dropdown-item text-left"  href="/ClassPage">מערכת כיתה</a>
          <a class="dropdown-item text-left" href="/main">תלמידים</a>
          <a class="dropdown-item text-left" href="/AddStudent">הוספת תלמיד חדש</a>
          <a class="dropdown-item text-left" href="/EditStudent">עריכת תלמיד</a>
        </div>
      </div>
      <div class="dropdown" *ngIf="currentTeacher.User.UserType.Name == UserType.Admin">
        <a class="nav-item nav-link dropdown-toggle " data-toggle="dropdown" id="classManageDropDown"
          aria-haspopup="true" aria-expanded="false" href="#">ניהול בית ספר</a>
        <div class="dropdown-menu dropdown-menu-right text-right"  aria-labelledby="classManageDropDown">
          <a class="dropdown-item text-left"  href="/ManageClasses">ניהול כיתות</a> 
          <a class="dropdown-item text-left" href="/ManageTeachers">ניהול מורים</a>
          <a class="dropdown-item text-left" href="/ManageLessons">ניהול שיעורים</a>
          <a class="dropdown-item text-left" href="/AddStudent">הוספת תלמיד חדש</a>
          <a class="dropdown-item text-left" href="/EditStudent">עריכת תלמיד</a>
        </div>
      </div>
      <a class="nav-item nav-link" href="/AddLesson">שיעורים וקבוצות</a>
      <a class="nav-item nav-link" (click)="logout()">התנתק</a>
    </div>
    <!-- navbar-nav -->
  </div>
  <!-- container -->
</nav>  