<div *ngIf="teacherScheduleTable">
  <!-- <h2>{{teacherScheduleTable.Class.Grade.Name}}'{{teacherScheduleTable.Class.Number}} </h2> -->
  <div class="row mt-5">
    <div class="table-responsive col-12">
      <table class="table table-bordered table-sm" #myTable [class.plus-cursor]="ctrlPressed">
        <thead>
          <th>ימים/שעות</th>
          <th *ngFor="let day of teacherScheduleTable.Days ">
            {{day.Name}}
          </th>
        </thead>
        <tr *ngFor="let hour of teacherScheduleTable.HoursInDay" [ngClass]="{'bg-light': hour.IsBreak}">
          <td>{{hour.StartTime}}-{{hour.FinishTime}}</td>
          <ng-container *ngIf="!hour.IsBreak">
            <td *ngFor="let day of teacherScheduleTable.Days" class="h5 text-center">


              <div *ngIf="teacherScheduleTable.TeacherScheduleClasses[day.Id] &&
                            teacherScheduleTable.TeacherScheduleClasses[day.Id][hour.Id] "
                style="white-space: pre-wrap"
                [ngClass]="{'conflict':(conflicts[day.Id][hour.Id])} ">
                {{teacherScheduleTable.TeacherScheduleClasses[day.Id][hour.Id]}}
              </div>

            </td>
          </ng-container>
          <td *ngIf="hour.IsBreak" class="text-center" colspan="6">
            הפסקה
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>