/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.autocomplete-container .input-container .x {
    position: absolute;
    left: 10px;
    right: auto!important;
}

.plus-cursor {
    cursor: copy;
}

.border-3 {
    border: 3px solid #e9ecef !important;
    border-width: 3px !important;
}